html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background: url("/images/background_V2.png");
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
}
