html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  font-family: "inter", sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-container > main {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("/images/background_V2.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}
body {
  background: url("/images/background_V2.png");
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
}

@font-face {
  font-family: "pixelify";
  src: url(./assets/fonts/pixelify/PixelifySans-SemiBold.ttf);
}

.Toastify__toast-container {
  z-index: 9999 !important;
}
.Toastify__toast-container--bottom-center {
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
}
