.homepage {
  width: auto;
  padding: 2rem 0;
  background: url("/images/background_V2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.home-section {
  background: rgba(0, 0, 0, 0.6);
  border: 2px solid #00ffff;
  box-shadow: 0 0 12px #00ffff55;
  padding: 1.5rem;
  border-radius: 20px;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  z-index: 1;
}

.cloud-home1 {
  height: auto;
  width: 40vw;
  animation: float 7s ease-in-out infinite;
  position: absolute;
  top: 5rem;
  left: 2rem;
  z-index: 0;
}
.cloud-home2 {
  height: auto;
  width: 40vw;
  animation: float 8s ease-in-out infinite;
  position: absolute;
  top: 7rem;
  right: 2rem;
  z-index: 0;
}

.cloud-home3 {
  height: auto;
  width: 50vw;
  animation: float 7s ease-in-out infinite;
  position: absolute;
  bottom: 15rem;
  right: 2rem;
  z-index: 0;
}

.cloud-home4 {
  height: auto;
  width: 40vw;
  animation: float 8s ease-in-out infinite;
  position: absolute;
  bottom: 40rem;
  left: 1rem;
  z-index: 0;
}

.dragon {
  position: fixed;
  top: 10rem;
  left: 15rem;
  width: 16rem;
  animation: floatY 2s ease-in-out infinite;
  z-index: 1;
}

.chat {
  position: fixed;
  top: 30rem;
  right: 12rem;
  width: 14rem;
  animation: floatY 2.5s ease-in-out infinite;
  z-index: 1;
}

@keyframes float {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes floatY {
  0% {
    transform: translateY(0) translateX(0);
  }
  50% {
    transform: translateY(-20px) translateX(-20px);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
}

@media screen and (max-width: 768px) {
  .home-section {
    width: auto;
    padding: 1rem;
    box-sizing: border-box;
    margin: 1em 1.2em;
  }
  .home-section-flex {
    width: 100vw;
  }
}

@media screen and (min-width: 769px) {
  .homepage {
    margin-top: 7rem;
  }
  .home-section-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .home-section {
    margin: 2em 0em;
  }
}

.hero-banner {
  text-align: center;
  color: #ebba35;
  font-family: "pixelify", sans-serif;
  letter-spacing: 2px;
  padding: 2rem 1rem 0;
  max-width: 50rem;
  margin: 0 auto;
  text-shadow: 0 0 0.1rem #000, 0 0 0.2rem #000, 0 0 0.5rem #ffaa00;
}

.hero-banner h1 {
  font-size: 5rem;
  margin-bottom: 0.3rem;
  z-index: 1;
  position: relative;
}

.hero-banner p {
  font-size: 2rem;
  line-height: 1.3;
  margin-top: 0;
  z-index: 1;
  position: relative;
}

@media screen and (max-width: 768px) {
  .hero-banner {
    padding: 1.5rem 1rem 0;
  }

  .hero-banner h1 {
    font-size: 2rem;
  }

  .hero-banner p {
    font-size: 1.2rem;
    line-height: 1.3;
  }

  .dragon,
  .chat,
  .cloud-home1,
  .cloud-home2,
  .cloud-home3,
  .cloud-home4 {
    display: none;
  }
}
