.score-board {
  font-family: monospace;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
  font-family: "inter", sans-serif;
  color: #00ffff;
  font-size: 0.8em;
  padding-bottom: 1em;
}

.score,
.high-score {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
}
.game-status {
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .score-board {
    font-size: 1.2em;
    gap: 2em;
  }
}
