:root {
  --snake-color: #00efff;
}

#snake-canvas {
  border: 5px solid var(--snake-color);
  box-shadow: 0 0 5px var(--snake-color), 0 0 15px var(--snake-color), 0 0 30px
    var(--snake-color);
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  max-width: 85vmin;
  background-image: url("../../../assets/images/background-snake.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.snake-board-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
