.connexion-page {
  display: flex;
  justify-content: center;
  padding: 5rem;
  color: #00ffff;
  font-family: "inter", sans-serif;
}

.title-connexion {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.line-connexion {
  height: 0.1rem;
  width: auto;
  background: #00ffff;
}

.input-row {
  display: flex;
  margin-top: 1rem;
  border: solid 1px transparent;
}

.error-message {
  color: red;
  font-size: 1rem;
}

/* login  */
.login-contener {
  background-color: #00000075;
  padding: 2rem 3rem;
  margin: 2rem 4rem;
  border: solid 3px #00ffff;
  border-radius: 30px;
  height: fit-content;
  width: 27vw;
}

.form-login-contener {
  display: flex;
  flex-direction: column;
}

.form-login-contener input {
  background-color: transparent;
  border: transparent;
  color: white;
  margin-left: 1rem;
  font-size: 1rem;
}
.form-login-contener label {
  font-size: 1.1rem;
}

/* register  */
.form-register-contener {
  display: flex;
  flex-direction: column;
}

.form-register-contener label {
  font-size: 1.1rem;
}

.form-register-contener input {
  background-color: transparent;
  border: transparent;
  color: white;
  margin-left: 1rem;
  font-size: 1rem;
}

/* button */
.button-connexion {
  color: #00ccff;
  font-size: 1.2rem;
  border: solid 2px #00ccff;
  background-color: black;
  border-radius: 15px;
  padding: 1rem;
  transition: 0.2s;
  margin: 1rem 0;
  width: 60%;
  align-self: center;
}
.button-connexion:hover {
  box-shadow: 0px 0px 20px #00ccff;
}

@media screen and (max-width: 768px) {
  .connexion-page {
    flex-direction: column;
    padding: 4rem 0 0;
  }
  .form-login-contener label {
    width: 100vw;
  }

  .form-register-contener label {
    width: 100vw;
  }

  .login-contener {
    margin: 0 2rem 2rem;
  }

  .button-connexion {
    width: 80%;
  }

  .line-connexion {
    width: 60vw;
  }
}
