* {
  margin: 0;
  box-sizing: border-box;
}
@media screen and (max-width: 768px) {
  /* NavBAR */
  nav {
    display: flex;
    justify-content: space-around;
    background-color: #0b0433;
    height: 7em;
    width: 100%;
  }

  .nextOneLogo {
    width: 10em;
    height: 10em;
    background-color: #0b0433;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    z-index: 11;
  }
  .userGamerIcone {
    width: 5em;
    height: 5em;
    margin: 1em;
    margin-top: 1.5em;
  }
  .UserIcone {
    z-index: 11;
  }

  /* Burger Menu */
  .menuBurger {
    height: 5em;
    padding: 1em;
    z-index: 11;
  }
  button {
    border-style: none;
  }
  .burger-menu {
    height: 90%;
    width: 4em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
    background-color: #0b0433;
  }
  .align-burger {
    display: flex;
    align-items: center;
  }
  .burger-bar {
    width: 4em;
    height: 0.6em;
    background-color: white;
    border-radius: 0.5em;
  }
  .menu {
    width: 110%;
    height: 70%;
    background-color: #0b0433;
    position: absolute;
    top: 0;
    z-index: -1;
    margin-left: -1.5em;
  }
  /* menu deroulant */
  .hidden {
    display: none;
  }

  .visible {
    display: flex;
    flex-direction: column;
    padding-top: 10em;
    justify-content: space-around;
    z-index: 9;
  }
  .linkButton {
    font-size: 2em;
    color: white;
    background-color: #0b0433;
  }
  .burger-bar.clicked:nth-child(1) {
    transform: rotate(45deg) translate(0.75em, 1.25em);
    transition: ease-out 0.5s;
  }
  .burger-bar.clicked:nth-child(2) {
    transform: scale(0);
    transition: ease-out 0.5s;
  }
  .burger-bar.clicked:nth-child(3) {
    transform: rotate(135deg) translate(-0.6em, 0.9em);
    transition: ease-out 0.5s;
  }
  .burger-bar.unclicked {
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
  }
  .linkDesktop {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .burger-menu {
    display: none;
  }
  .burgermenumobile {
    display: none;
  }
  .linkButton {
    display: none;
  }
  /* NavBAR */
  nav {
    display: flex;
    justify-content: space-around;
    background-color: #0b0433;
    height: 7em;
    width: 100%;
  }
  button {
    border-style: none;
  }
  .nextOneLogo {
    width: auto;
    height: 10em;
    border-radius: 50% 50% 49% 51% / 65% 65% 35% 35%;
    background-color: #0b0433;
  }
  .userGamerIcone {
    width: 5em;
    height: 5em;
  }
  .UserIcone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15vw;
  }
  .linkDesktop {
    width: 15vw;
    font-size: 1.6em;
    font-weight: 600;
    color: white;
    background-color: #0b0433;
  }
  .linkDesktop:hover {
    color: #00ccff;
  }
}
