@media screen and (max-width: 768px) {
  .admin-page {
    padding: 4rem 1rem;
  }
  .h1-admin-page {
    font-family: "inter", sans-serif;
    color: #00ffff;
    text-align: center;
    padding: 1rem 0rem;
  }
  .h2-admin-page {
    font-family: "inter", sans-serif;
    color: #00ffff;
    text-align: center;
  }
  .barre {
    height: 0.1rem;
    width: 90%;
    background-color: #00ffff;
  }
  .bigboss-img {
    width: 19em;
    padding-top: 1rem;
  }
  .box-user {
    background: rgba(0, 0, 0, 0.6);
    border: 2px solid #00ffff;
    box-shadow: 0 0 12px #00ffff55;
    padding: 1.5rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
  }
  .admin-section {
    background: rgba(0, 0, 0, 0.6);
    border: 2px solid #00ffff;
    box-shadow: 0 0 12px #00ffff55;
    padding: 0.5rem;
    border-radius: 20px;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
  }
  .grid-box {
    display: flex;
    flex-direction: column;
  }
  .box-admin {
    background: rgba(0, 0, 0, 0.6);
    border: 2px solid #00ffff;
    box-shadow: 0 0 12px #00ffff55;
    padding: 1.5rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .text-player {
    font-family: "inter", sans-serif;
    color: white;
    font-size: 1em;
  }
  .player-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .icone-game {
    width: 4.5em;
  }

  .box-game {
    background: rgba(0, 0, 0, 0.6);
    border: 2px solid #00ffff;
    box-shadow: 0 0 12px #00ffff55;
    padding: 1.5rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .add-button-game {
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.521);
    padding: 0.5rem 1rem;
    color: white;
    border: solid 1px #00ccff;
    font-size: 1.1rem;
    transition: 0.1s;
    width: 10rem;
    cursor: pointer;
  }
  .box-players {
    background: rgba(0, 0, 0, 0.6);
    border: 2px solid #00ffff;
    box-shadow: 0 0 12px #00ffff55;
    padding: 1.5rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #00ccff;
    gap: 1em;
  }
  .box-players-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ul-scored {
    padding: 0;
  }
  li {
    list-style: none;
  }

  .box-historical {
    text-align: left;
  }
  .button-disconnected {
    height: 1.5rem;
  }
  .button-deconnexion,
  .button-delete-account {
    color: #ff0000;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "inter", sans-serif;
    cursor: pointer;
    font-size: 1.2rem;
    margin-top: 2em;
  }

  .red-dragon {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .admin-page {
    padding: 4rem 2rem;
  }
  .admin-section {
    background: rgba(0, 0, 0, 0.6);
    border: 2px solid #00ffff;
    box-shadow: 0 0 12px #00ffff55;
    padding: 1.5rem;
    border-radius: 20px;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
  }
  .h1-admin-page {
    font-family: "inter", sans-serif;
    color: #00ffff;
    text-align: center;
  }
  .h2-admin-page {
    font-family: "inter", sans-serif;
    color: #00ffff;
    text-align: center;
  }
  .barre {
    height: 0.1rem;
    width: 90%;
    background-color: #00ffff;
  }

  .box-admin {
    background: rgba(0, 0, 0, 0.6);
    border: 2px solid #00ffff;
    box-shadow: 0 0 12px #00ffff55;
    padding: 1.5rem;
    border-radius: 20px;
    grid-row-start: 1;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .box-user {
    background: rgba(0, 0, 0, 0.6);
    border: 2px solid #00ffff;
    box-shadow: 0 0 12px #00ffff55;
    padding: 1.5rem;
    border-radius: 20px;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
  }

  .bigboss-img {
    width: 17em;
    grid-row-start: 4;
    grid-row-end: 4;
    margin-left: 3rem;
  }

  .box-players {
    background: rgba(0, 0, 0, 0.6);
    border: 2px solid #00ffff;
    box-shadow: 0 0 12px #00ffff55;
    padding: 1.5rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    color: #00ccff;
    gap: 1em;
  }
  .box-players-info {
    display: flex;
  }
  li {
    list-style: none;
  }
  .icone-player {
    display: flex;
    flex-direction: column;
  }

  .player-text {
    font-family: "inter", sans-serif;
    color: white;
    font-size: 1.4em;
  }
  .text-player {
    font-family: "inter", sans-serif;
    color: white;
    font-size: 1.4em;
  }

  .icone-game {
    width: 6em;
  }
  .box-icone-game {
    display: flex;
    align-items: center;
  }
  .box-game {
    background: rgba(0, 0, 0, 0.6);
    border: 2px solid #00ffff;
    box-shadow: 0 0 12px #00ffff55;
    padding: 1.5rem;
    border-radius: 20px;
    grid-row-start: 2;
    grid-row-end: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .add-button-game {
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.521);
    padding: 0.5rem 1rem;
    color: white;
    border: solid 1px #00ccff;
    font-size: 1.1rem;
    transition: 0.1s;
    width: 10rem;
    cursor: pointer;
  }
  .right-box {
    grid-column-start: 2;
  }
  .grid-box {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 5rem;
    padding: 2rem;
  }
  .button-disconnected {
    height: 2rem;
  }
  .button-deconnexion,
  .button-delete-account {
    color: #ff0000;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "inter", sans-serif;
    cursor: pointer;
    font-size: 1.6rem;
    margin-top: 2em;
  }
  .delete-button {
    display: flex;
    justify-content: center;
  }
  .red-dragon {
    position: relative;
    top: -6rem;
    left: 1rem;
    width: 14%;
    height: auto;
    z-index: 10;
  }
}
